/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:'Microsoft YaHei',Arial; background:#FFF;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; padding:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:1060px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}

.line1{ background:url(../images/line1.jpg) 0 0 no-repeat; width:1060px; height:626px;}
.btn1{ left:705px; top:267px;}
.vBlock{ width:1060px; height:200px; left:0; top:428px;}
.vInit{ float:left; width:252px; height:186px; margin-right:17px; overflow:hidden;}
.vInit.nomr{ margin-right:0;}
.vInit img.moImg{ width:252px; height:186px;}
.vInit video{ width:252px; height:186px; position:absolute; left:0; top:0;}
.vGif{ width:252px; height:186px; text-align:center; overflow:hidden; position:absolute; left:0; top:0; background:#000;}
.vGif img{ width:auto; height:186px;}

.line2{ background:url(../images/line2.jpg) 0 0 no-repeat; width:1060px; height:690px;}
.fBlock{ left:62px; top:75px; width:813px; height:561px; overflow:hidden;}
.f1{ background:url(../images/f1.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:813px; height:561px;}
.f2{ background:url(../images/f2.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:813px; height:561px;}
.f5{ background:url(../images/f5.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:813px; height:561px;}
.f3{ background:url(../images/f3.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:813px; height:561px;}
.f3EndGif{ width:280px; height:280px; left:191px; top:81px;}
.sb1{ left:503px; top:206px;}
.sb2{ left:565px; top:206px;}
.sb3{ left:624px; top:206px;}
.sb4{ left:676px; top:206px;}
.paBtn{ left:503px; top:268px;}
.moreLink{ left:590px; top:518px;}
.f4{ background:url(../images/f4.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:813px; height:561px;}
.fTop,.fLoading,.fEnd3,.fUploadVideo{ position:absolute; left:0; top:0; width:813px; height:561px;}
.ruleBg{ width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.8);}
.ruleBlock{ color:#FFF; background:none; position:fixed; left:50%; top:50%;  width:813px; height:561px; margin:-280px 0 0 -406px;}
.ruleBlock h1{ text-align:center; width:100%; font-size:18px; height:50px; line-height:25px; padding:10px 0;}
.ruleBlock .main{ overflow-x:hidden; overflow-y:auto; width:100%; height:480px;}
.ruleBlock p{ padding:10px 0; text-align:left; font-size:14px; line-height:24px;}
#201661youku{ position:absolute; left:50%;top:50%; margin:-220px 0 0 -320px;}
.fLoadImg{ width:279px; height:279px; position:absolute; left:137px; top:182px; overflow:hidden; background:url(../images/fLoadImg.png) 0 0 no-repeat;}
.uploadImgBlock{ width:279px; height:279px; position:absolute; left:137px; top:182px; overflow:hidden;}
.mMask{ width:279px; height:279px; position:absolute; left:137px; top:182px; overflow:hidden;}
.stMask{ width:279px; height:279px; position:absolute; left:137px; top:182px; overflow:hidden; background:url(../images/f1Bg.png) 0 0 no-repeat;}
.stMask1{ background-image:url(../images/f1Bg.png);}
.stMask2{ background-image:url(../images/f2Bg.png);}
.stMask3{ background-image:url(../images/f3Bg.png);}
.stMask4{ background-image:url(../images/f4Bg.png);}
.fImg1{ left:137px; top:182px;}
.upLoadImg{ left:0; top:0; display:none;}
.uploadBtn{ display:block; width:174px; height:62px; position:absolute; left:191px; top:257px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; cursor:pointer;}
.uploadedBtn{ left:438px; top:437px; width:164px; height:64px;}
.vPlayAgain{ left:438px; top:437px;}
.youkuBtn{ left:191px; top:328px;}
.fInput{ background:none; border:none; display:block; width:200px; height:28px; line-height:28px; padding:0 15px; position:absolute; left:544px; color:#333; font-size:14px;}
.fTxt1{ width:200px; height:28px; line-height:28px; position:absolute; left:435px; top:205px; color:#666666; font-size:14px;}
.fTxt2{ width:200px; height:28px; line-height:28px; position:absolute; left:435px; top:252px; color:#666666; font-size:14px;}
.fTxt3{ width:200px; height:28px; line-height:28px; position:absolute; left:435px; top:298px; color:#666666; font-size:14px;}
.fRed{ color:#D30508;}
.fInput1{ top:205px;}
.fInput2{ top:252px;}
.fInput3{ top:298px; width:85px;}
.fInput4{ top:298px; width:85px; left:659px;}
.fInput5{ top:344px;}
.fNote{ font-size:12px; color:#adadad; line-height:100%; left:448px; top:386px;}
.fLice{ font-size:14px; color:#666; line-height:100%; left:448px; top:412px;}
.fLice input{ vertical-align:1px;}
.fLice label{ font-size:14px; color:#666;}
.fLice a{ font-size:14px; color:#666; font-weight:bold; text-decoration:underline;}
.submitBtn{ left:620px; top:437px;}
.ft{ top:470px;}
.ft img{ width:63px; height:63px;}
.ft1{ left:137px;}
.ft2{ left:209px;}
.ft3{ left:280px;}
.ft4{ left:352px;}
.fton img{ width:57px; height:57px; border:3px solid #25caff;}
.qcBlock{ background:url(../images/qc1.gif) 0 0 no-repeat; width:282px; height:359px; position:absolute; top:0; right:0;}
.qcImg{ width:110px; height:110px; left:90px; top:164px;}
.openQc{ background:url(../images/qc2.png) top right no-repeat; width:157px; height:142px; left:212px; top:156px;}
.qcCloseBtn{ top:0; right:0;}

.line3{ background:url(../images/line3.jpg) 0 0 no-repeat; width:1060px; height:413px;}
.sBlock{ left:187px; top:133px; width:707px; height:220px; overflow:hidden;}
.swiper-wrapper{width:6200px;height:220px;}
.swiper-slide{background:none; float:left; width:707px; height:220px;}
.btnLeft{ top:210px; left:120px;}
.btnRight{ top:210px; left:916px;}
.sLink{ position:absolute;}
.sLink1{ left:477px; top:36px;}
.sLink2{ left:453px; top:36px;}
.sLink3{ left:451px; top:26px;}
.sName{ color:#000; font-family: Verdana,sans-serif; font-size:12px; line-height:16px; font-weight:bold; text-transform:uppercase; letter-spacing:-1px;}
.sPrice{ color:#000; font-family: Verdana,sans-serif; font-size:24px; line-height:28px; font-weight:bold; text-transform:uppercase; letter-spacing:-1px}

.line4{ background:url(../images/line4.jpg) 0 0 no-repeat; width:1060px; height:800px;}
.btn2{ left:3px; top:55px;}
.btn3{ left:127px; top:55px;}
.searchTxt{ padding:0 10px; width:200px; height:28px; color:#333; font-size:14px; position:absolute; left:810px; top:69px; border:none; background:none;}
.searchBtn{ left:1032px; top:76px;}
.pBlock{ width:1060px; left:0; top:115px;}
.pInit{ width:234px; height:270px; float:left; padding:0 15px 20px 16px;}
.pTopImg{ width:234px; height:234px; overflow:hidden; text-align:center;}
.pTopImg img{height:234px;}
.pBottomTxt{ padding:0 10px; width:214px; height:36px; overflow:hidden; background:#f4f4f4;}
.pBottomTxtName{ width:120px; height:36px; line-height:36px; font-size:12px; color:#666; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left;}
.pBottomTXtBtn1{ width:28px; float:right; text-align:right; line-height:36px;}
.pBottomTXtBtn1 img{ vertical-align:-2px;}
.pBottomTXtBtn2{ width:65px; height:36px; float:right; text-align:right; line-height:36px;}
.pBottomTXtBtn2 a{ font-size:12px; color:#666;}
.pBottomTXtBtn2 img{ vertical-align:-2px;}
.l4BtnLine{ width:100%; padding:12px 0 0 0; text-align:center;}

.bottomBg{ background:url(../images/bottomBg.png) 0 0 no-repeat; width:1060px; height:826px; left:0; top:1715px;}
.videoBlock{ width:530px; height:400px; left:262px; top:209px;}
.imgBlock{ width:487px; height:487px; left:287px; top:153px;}
.bottomGif{ width:100%; height:100%;}
.bottomQc{ width:487px; height:487px; left:287px; top:153px;}
.sbb1{ left:424px; top:649px;}
.sbb2{ left:485px; top:649px;}
.sbb3{ left:543px; top:649px;}
.sbb4{ left:596px; top:649px;}
.bottmCloseBtn{ left:788px; top:121px;}
