/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:'Microsoft YaHei',Arial; background:#FFF;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; padding:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:640px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}


.line1{ background:url(../images/line1.jpg) 0 0 no-repeat; width:640px; height:701px;}
.logo{ left:30px; top:18px;}
.btn1{ left:24px; top:250px;}

.line2{ background:url(../images/line2.jpg) 0 0 no-repeat; width:640px; height:372px;}
.sBlock1{ width:472px; height:354px; overflow:hidden; left:85px; top:0; position:absolute;}
.swiper-container1 .swiper-wrapper{ width:3500px; height:354px;}
.swiper-container1 .swiper-slide{ background:none; float:left; width:472px; height:354px;}
.vGif{ position:absolute; left:0; top:0; width:472px; height:354px; text-align:center; overflow:hidden; background:#000;}
.vGif img{ width:auto; height:354px;}
.swiper-container1 .swiper-slide video{ position:absolute; left:0; top:0; width:472px; height:354px; background:#000;}
.btnLeft1{ left:36px; top:160px;}
.btnRight1{ left:584px; top:160px;}

.line3{ background:url(../images/line3.jpg) 0 0 no-repeat; width:640px; height:1177px;}
.fBlock{ left:0; top:0; width:640px; height:1177px; overflow:hidden;}
.f1{ background:url(../images/f1.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:640px; height:1177px;}
.f2{ background:url(../images/f2.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:640px; height:1177px;}

.f3{ background:url(../images/f3.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:640px; height:1177px;}
.f3EndGif{ width:398px; height:398px; left:125px; top:152px;}
.onBg{ width:398px; height:398px; left:125px; top:152px; background-position:0 0; background-repeat:no-repeat; background-size:auto 398px; -webkit-animation:onBg 0.8s steps(4) infinite;}
@-webkit-keyframes onBg{
0%{ background-position:0 0;}
100%{ background-position:-1592px 0;}
}
.saveImg{ width:398px; height:398px; left:125px; top:152px; opacity:0;}
.sb1{ left:140px; top:639px;}
.sb2{ left:245px; top:639px;}
.sb3{ left:342px; top:639px;}
.sb4{ left:430px; top:639px;}
.paBtn{ left:198px; top:737px;}
.moreLink{ left:456px; top:1133px;}

.f4{ background:url(../images/f4.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:640px; height:1177px;}

.f5{ background:url(../images/f5.png) 0 0 no-repeat; position:absolute; left:0; top:0; width:640px; height:1177px;}

.fTop,.fLoading,.fEnd3,.fUploadVideo{ position:absolute; left:0; top:0; width:640px; height:1177px;}
.fLoadImg{ width:398px; height:398px; position:absolute; left:125px; top:264px; overflow:hidden; background:url(../images/fLoadImg.png) 0 0 no-repeat; background-size:auto 398px;}
.uploadImgBlock{ width:398px; height:398px; position:absolute; left:125px; top:264px; overflow:hidden;}
#mMask{ width:398px; height:398px; position:absolute; left:125px; top:264px; overflow:hidden;}
.stMask{ width:398px; height:398px; position:absolute; left:125px; top:264px; overflow:hidden; background:url(../images/ft1.png) 0 0 no-repeat; background-size:auto 398px; -webkit-animation:stMask 0.8s steps(4) infinite;}
@-webkit-keyframes stMask{
0%{ background-position:0 0;}
100%{ background-position:-1592px 0;}
}
.stMask1{ background-image:url(../images/ft1.png);}
.stMask2{ background-image:url(../images/ft2.png);}
.stMask3{ background-image:url(../images/ft3.png);}
.stMask4{ background-image:url(../images/ft4.png);}
.stMask5{ background-image:url(../images/ft5.png);}
.stMask6{ background-image:url(../images/ft6.png);}
.stMask7{ background-image:url(../images/ft7.png);}
.stMask8{ background-image:url(../images/ft8.png);}
.fImg1{ left:125px; top:264px;}
.upLoadImg{ left:0; top:0; width:100%; display:none;}
.uploadBtn{ display:block; width:220px; height:76px; position:absolute; left:216px; top:385px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; cursor:pointer;}
.uploadedBtn{ left:95px; top:1010px; width:220px; height:76px;}
.vPlayAgain{ left:95px; top:1010px;}
.youkuBtn{ left:216px; top:472px;}
.fInput{ background:none; border:none; display:block; width:220px; height:44px; line-height:44px; padding:0 14px; position:absolute; left:274px; color:#333; font-size:22px;}
.fTxt1{ width:165px; height:44px; line-height:44px; position:absolute; left:110px; top:762px; color:#666666; font-size:22px;}
.fTxt2{ width:165px; height:44px; line-height:44px; position:absolute; left:110px; top:808px; color:#666666; font-size:22px;}
.fTxt3{ width:165px; height:44px; line-height:44px; position:absolute; left:110px; top:854px; color:#666666; font-size:22px;}
.fRed{ color:#D30508;}
.fInput1{ top:762px;}
.fInput2{ top:808px;}
.fInput3{ top:854px; width:96px;}
.fInput4{ top:854px; width:96px; left:412px;}
.fInput5{ top:900px; width:368px; left:126px;}
.fNote{ font-size:12px; color:#adadad; line-height:100%; left:110px; top:960px;}
.fLice{ font-size:16px; color:#666; line-height:100%; left:110px; top:985px;}
.fLice input{ vertical-align:1px;}
.fLice label{ font-size:16px; color:#666;}
.fLice a{ font-size:16px; color:#666; font-weight:bold; text-decoration:underline;}
.submitBtn{ left:325px; top:1020px;}
.ft{ top:674px;}
.ft img{ width:90px; height:90px;}
.ft1{ left:125px;}
.ft2{ left:228px;}
.ft3{ left:329px;}
.ft4{ left:432px;}
.fton img{ width:84px; height:84px; border:3px solid #25caff;}

.line4{ background:url(../images/line4.jpg) 0 0 no-repeat; width:640px; height:868px;}
.sBlock2{ left:53px; top:128px; width:538px; height:316px; overflow:hidden;}
.sBlock2 .swiper-wrapper{width:6000px;height:316px;}
.sBlock2 .swiper-slide{background:none; float:left; width:538px; height:316px;}
.btnLeft2{ top:230px; left:10px;}
.btnRight2{ top:230px; left:595px;}
.sLink{ position:absolute;}
.sLink1{ left:306px; top:58px;}
.sLink2{ left:292px; top:48px;}
.sLink3{ left:290px; top:48px;}
.sName{ color:#000; font-family: Verdana,sans-serif; font-size:12px; line-height:16px; font-weight:bold; text-transform:uppercase; letter-spacing:-1px;}
.sPrice{ color:#000; font-family: Verdana,sans-serif; font-size:24px; line-height:28px; font-weight:bold; text-transform:uppercase; letter-spacing:-1px}

.l3Btn1{ left:131px; top:132px;}
.l3Btn2{ left:410px; top:141px;}
.l3Btn3{ left:223px; top:356px;}
.l3Btn4{ left:75px; top:541px;}
.l3Btn5{ left:321px; top:580px;}
.l3Pop1{ background:url(../images/l3Pop1.png) 0 0 no-repeat; width:640px; height:795px; left:0; top:70px;}
.l3Pop2{ background:url(../images/l3Pop2.png) 0 0 no-repeat; width:640px; height:795px; left:0; top:70px;}
.l3Pop3{ background:url(../images/l3Pop3.png) 0 0 no-repeat; width:640px; height:795px; left:0; top:70px;}
.l3Pop4{ background:url(../images/l3Pop4.png) 0 0 no-repeat; width:640px; height:795px; left:0; top:70px;}
.l3Pop5{ background:url(../images/l3Pop5.png) 0 0 no-repeat; width:640px; height:795px; left:0; top:70px;}
.l3Gif{ left:96px; top:70px;}
.l3Gif img{ width:434px;}
.l3CloseBtn{ left:513px; top:84px;}

.line5{ background:url(../images/line5.jpg) 0 0 no-repeat; width:640px; height:1337px;}
.btn2{ left:112px; top:183px;}
.btn3{ left:333px; top:183px;}
.searchTxt{ padding:0 20px; width:320px; height:46px; line-height:46px; color:#333; font-size:20px; position:absolute; left:112px; top:118px; border:none; background:none;}
.searchBtn{ left:485px; top:132px;}
.pBlock{ width:600px; left:34px; top:288px;}
.pInit{ width:300px; height:400px; float:left; padding:0;}
.pTopImg{ width:276px; height:276px; overflow:hidden; text-align:center; position:relative;}
.pTopImg img{ width:auto; height:276px; display:block;}
.pTopImg a{ position:absolute; left:0; top:0;}
.pTopImg a img{ width:276px; height:276px;}
.pBottomTxt{ padding:0; width:276px; height:64px; line-height:64px; overflow:hidden; background:#f4f4f4; text-align:center;}
.pBottomTxtName{ width:270px; height:42px; line-height:42px; font-size:22px; color:#666; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.pBottomTXtBtn1{ display:inline-block; margin:0 10px;}
.pBottomTXtBtn1 img{ vertical-align:-8px;}
.pBottomTXtBtn2{ display:inline-block; margin:0 10px; color:#989898; font-size:22px;}
.pBottomTXtBtn2 img{ vertical-align:-8px;}
.l4BtnLine{ width:100%; padding:30px 0 0 0; text-align:center;}

.popBg{ width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.8);}
.shareNote{ position:fixed; left:0; top:0;}

/*share*/
.sharePage{ background:url(../images/shareBg.jpg) 0 0 no-repeat; width:640px; height:960px;}
.shareGif{ position:absolute; left:50%; margin-left:-199px; top:279px;}
.shareVideo{ width:530px; height:400px; overflow:hidden; left:50%; top:279px; margin-left:-265px; position:absolute;}
.shareBtn1{ left:50%; margin-left:-104px; top:800px;}
.shareBtns2{ position:absolute; left:50%; top:678px; margin-left:-320px; width:640px; height:85px;}
.ssb1{ left:155px; top:0;}
.ssb2{ left:248px; top:0;}
.ssb3{ left:333px; top:0;}
.ssb4{ left:418px; top:0;}

.ruleBg{ width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.8);}
.ruleBlock{ width:620px; height:832px; position:fixed; left:10px; top:50%; margin-top:-416px;}
.ruleBlock{ color:#FFF; background:none;}
.ruleBlock h1{ text-align:center; width:100%; font-size:24px; height:60px; line-height:30px; padding:10px 0;}
.ruleBlock .main{ overflow-x:hidden; overflow-y:auto; width:100%; height:772px;}
.ruleBlock p{ padding:10px 0; text-align:left; font-size:20px; line-height:28px;}

.cs1{ background:url(../images/csBg1.png) 0 0 no-repeat; width:640px; height:868px;}
.seledTime{ left:188px; top:202px; width:232px; color:#666666; font-size:26px; height:58px; line-height:58px; text-align:center;}
.csSelBtn{ left:188px; top:202px;}
.csBtn1{ left:215px; top:275px;}
.selTimeBlock{ position:absolute; left:197px; top:16px; background:url(../images/csSdBg.png) 0 0 no-repeat; width:204px; height:480px; padding:0;}
.selTimeBlock ul{ width:204px;}
.selTimeBlock ul li{ width:204px; height:48px;}
.selTimeBlock ul li a{ display:block; width:100%; height:100%; color:#666; line-height:48px; font-size:26px; text-align:center;}
.csBlock1{ width:525px; height:720px; overflow:hidden; position:absolute; left:58px; top:119px;}
.swiper-container2 .swiper-wrapper{width:66000px;height:322px;}
.swiper-container2 .swiper-wrapper .swiper-slide{background:none; float:left; width:525px; height:720px;}
.btnLeft2,.btnLeft3{ left:10px; top:318px;}
.btnRight2,.btnRight3{ left:595px; top:318px;}
.csBtn2{ left:55px; top:646px;}
.csBtn3{ left:280px; top:646px;}
.cs3{ background:url(../images/csBg3.png) 0 0 no-repeat; width:640px; height:868px;}
.csBlock2{ width:536px; height:555px; overflow:hidden; position:absolute; left:52px; top:132px;}
.swiper-container3 .swiper-wrapper{width:66000px;height:555px;}
.swiper-container3 .swiper-wrapper .swiper-slide{background:none; float:left; width:536px; height:555px;}
.swiper-container3 a{ margin:0 3px 4px 3px; display:inline-block; float:left;}
.csBtn2b{ left:215px; top:716px;}